form {
  display: flex;
  flex-flow: column;
  align-items: center;
}
label {
  margin: .5rem 0;
}
.form {
  border: 1px solid blue;
  box-shadow: 0 0 .5rem .15rem;
  margin: .75rem;
  width: 60%;
}

.App {
  display: flex;
  flex-flow: column;
  align-items: center;
}